In [225]:
import pandas as pd

In [226]:
df = pd.read_csv("C:\practice\practice\산업분류별 월별 전력사용량_2017_2022.csv")
df.head()

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
0,201701,전체(시도),전체(시 / 군 / 구),"가구내고용,미분류자가소비생산",528,"571,710","86,427,025",151.2
1,201701,전체(시도),전체(시 / 군 / 구),건설업,"70,529","367,547,850","49,248,531,866",134.0
2,201701,전체(시도),전체(시 / 군 / 구),"공공행정, 국방 및 사회보장 행정","34,768","535,494,134","69,556,707,643",129.9
3,201701,전체(시도),전체(시 / 군 / 구),광업,"4,614","154,468,194","21,722,675,394",140.6
4,201701,전체(시도),전체(시 / 군 / 구),교육 서비스업,"69,866","891,054,335","90,642,321,916",101.7

In [227]:
df.groupby('시구').count()

           년월   시군구  계약구분  고객호수(호)  사용량(kWh)  전기요금(원)  평균판매단가(원/kWh)
시구
강원도      1584  1584  1584     1584      1584     1584           1584
경기도      1587  1587  1587     1587      1587     1587           1587
경상남도     1584  1584  1584     1584      1584     1584           1584
경상북도     1584  1584  1584     1584      1584     1584           1584
광주광역시    1584  1584  1584     1584      1584     1584           1584
대구광역시    1584  1584  1584     1584      1584     1584           1584
대전광역시    1562  1562  1562     1562      1562     1562           1562
미분류        10    10    10       10        10       10             10
부산광역시    1584  1584  1584     1584      1584     1584           1584
서울특별시    1584  1584  1584     1584      1584     1584           1584
세종특별자치시  1512  1512  1512     1512      1512     1512           1512
시구         12    12    12       12        12       12             12
울산광역시    1512  1512  1512     1512      1512     1512           1512
인천광역시    1584  1584  1584     1584      1584     1584           1584
전라남도     1512  1512  1512     1512      1512     1512           1512
전라북도     1584  1584  1584     1584      1584     1584           1584
전체(시도)   1515  1515  1515     1515      1515     1515           1515
제주특별자치도  1584  1584  1584     1584      1584     1584           1584
충청남도     1584  1584  1584     1584      1584     1584           1584
충청북도     1512  1512  1512     1512      1512     1512           1512
합계         12    12    12       12        12       12             12
황해북도      126   126   126      126       126      126            126

In [228]:
df = pd.read_csv("C:\practice\practice\발전량_지역별_시간처리.csv")
df

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh),연도,월
0,201701,전체(시도),전체(시 / 군 / 구),"가구내고용,미분류자가소비생산",528,"571,710","86,427,025",151.2,2017,1.0
1,201701,전체(시도),전체(시 / 군 / 구),건설업,"70,529","367,547,850","49,248,531,866",134.0,2017,1.0
2,201701,전체(시도),전체(시 / 군 / 구),"공공행정, 국방 및 사회보장 행정","34,768","535,494,134","69,556,707,643",129.9,2017,1.0
3,201701,전체(시도),전체(시 / 군 / 구),광업,"4,614","154,468,194","21,722,675,394",140.6,2017,1.0
4,201701,전체(시도),전체(시 / 군 / 구),교육 서비스업,"69,866","891,054,335","90,642,321,916",101.7,2017,1.0
...,...,...,...,...,...,...,...,...,...,...
28303,202212,충청북도,전체,제조업,"13,495","1,624,994,320","230,367,018,601",141.8,2022,12.0
28304,202212,충청북도,전체,"출판영상,방송통신정보서비스업","10,528","18,489,918","2,568,906,764",138.9,2022,12.0
28305,202212,충청북도,전체,하수폐기처리원료재생환경복원,"2,014","27,704,884","4,139,395,606",149.4,2022,12.0
28306,202212,충청북도,전체,"협회단체,수리기타개인서비스업","9,077","19,703,984","3,224,255,842",163.6,2022,12.0
28307,202212,충청북도,전체,합계,"305,476","2,220,188,169","314,635,554,692",141.7,2022,12.0

In [229]:
df['사용량'] = pd.to_numeric(df['사용량(kWh)'].str.replace(',', ''), errors='coerce')
df = df[~df['시구'].isin(['황해북도', '미분류'])]
df

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh),연도,월,사용량
0,201701,전체(시도),전체(시 / 군 / 구),"가구내고용,미분류자가소비생산",528,"571,710","86,427,025",151.2,2017,1.0,5.717100e+05
1,201701,전체(시도),전체(시 / 군 / 구),건설업,"70,529","367,547,850","49,248,531,866",134.0,2017,1.0,3.675478e+08
2,201701,전체(시도),전체(시 / 군 / 구),"공공행정, 국방 및 사회보장 행정","34,768","535,494,134","69,556,707,643",129.9,2017,1.0,5.354941e+08
3,201701,전체(시도),전체(시 / 군 / 구),광업,"4,614","154,468,194","21,722,675,394",140.6,2017,1.0,1.544682e+08
4,201701,전체(시도),전체(시 / 군 / 구),교육 서비스업,"69,866","891,054,335","90,642,321,916",101.7,2017,1.0,8.910543e+08
...,...,...,...,...,...,...,...,...,...,...,...
28303,202212,충청북도,전체,제조업,"13,495","1,624,994,320","230,367,018,601",141.8,2022,12.0,1.624994e+09
28304,202212,충청북도,전체,"출판영상,방송통신정보서비스업","10,528","18,489,918","2,568,906,764",138.9,2022,12.0,1.848992e+07
28305,202212,충청북도,전체,하수폐기처리원료재생환경복원,"2,014","27,704,884","4,139,395,606",149.4,2022,12.0,2.770488e+07
28306,202212,충청북도,전체,"협회단체,수리기타개인서비스업","9,077","19,703,984","3,224,255,842",163.6,2022,12.0,1.970398e+07
28307,202212,충청북도,전체,합계,"305,476","2,220,188,169","314,635,554,692",141.7,2022,12.0,2.220188e+09

In [230]:
yms1 = df[['시구', '연도', '사용량']]
yms1

           시구    연도           사용량
0      전체(시도)  2017  5.717100e+05
1      전체(시도)  2017  3.675478e+08
2      전체(시도)  2017  5.354941e+08
3      전체(시도)  2017  1.544682e+08
4      전체(시도)  2017  8.910543e+08
...       ...   ...           ...
28303    충청북도  2022  1.624994e+09
28304    충청북도  2022  1.848992e+07
28305    충청북도  2022  2.770488e+07
28306    충청북도  2022  1.970398e+07
28307    충청북도  2022  2.220188e+09

[28172 rows x 3 columns]

In [231]:
counts = yms1['시구'].value_counts()
gangwon_count = counts.get('전체(시도)', 0)
print(f" 개수: {gangwon_count}")

 개수: 1515

In [232]:
yms2 = yms1.groupby(['시구','연도'])['사용량'].sum().reset_index()
yms2

       시구    연도           사용량
0     강원도  2017  2.517312e+10
1     강원도  2018  2.556165e+10
2     강원도  2019  2.489849e+10
3     강원도  2020  2.434089e+10
4     강원도  2021  2.539744e+10
..    ...   ...           ...
105  충청북도  2019  4.589536e+10
106  충청북도  2020  4.617249e+10
107  충청북도  2021  4.906699e+10
108  충청북도  2022  5.101606e+10
109    합계    합계  2.585052e+12

[110 rows x 3 columns]

In [233]:
yms2.to_csv('2017_2022 사용량 총합.csv',index=False,header=True)

In [234]:
경기도 = yms2[yms2['시구'] == '경기도']
outpath = '경기도_groupby.csv'
경기도.to_csv(outpath, index=False,header=True)

In [235]:
경상남도 = yms2[yms2['시구'] == '경상남도']
outpath = '경상남도_groupby.csv'
경상남도.to_csv(outpath, index=False,header=True)

In [236]:
경상북도 = yms2[yms2['시구'] == '경상북도']
outpath = '경상북도_groupby.csv'
경상북도.to_csv(outpath, index=False,header=True)

In [237]:
광주광역시 = yms2[yms2['시구'] == '광주광역시']
outpath = '광주광역시_groupby.csv'
광주광역시.to_csv(outpath, index=False,header=True)

In [238]:
대구광역시 = yms2[yms2['시구'] == '대구광역시']
outpath = '대구광역시_groupby.csv'
대구광역시.to_csv(outpath, index=False,header=True)

In [239]:
강원도 = yms2[yms2['시구'] == '강원도']
outpath = '강원도_groupby.csv'
강원도.to_csv(outpath, index=False,header=True)

In [240]:
x = pd.read_csv('강원도_groupby.csv')
x

    시구    연도           사용량
0  강원도  2017  2.517312e+10
1  강원도  2018  2.556165e+10
2  강원도  2019  2.489849e+10
3  강원도  2020  2.434089e+10
4  강원도  2021  2.539744e+10
5  강원도  2022  2.647714e+10

In [241]:
import pandas as pd
import glob

In [242]:
dataframes = []

In [243]:
df1 = pd.read_csv('C:\practice\practice\지역별\강원도_groupby.csv')
df2 = pd.read_csv('C:\practice\practice\지역별\경기도_groupby.csv')
df3 = pd.read_csv('C:\practice\practice\지역별\경상남도_groupby.csv')
df4 = pd.read_csv('C:\practice\practice\지역별\경상북도_groupby.csv')
df5 = pd.read_csv('C:\practice\practice\지역별\광주광역시_groupby.csv')
df6 = pd.read_csv('C:\practice\practice\지역별\대구광역시_groupby.csv')
df7 = pd.read_csv('C:\practice\practice\지역별\전국_groupby.csv')
df8 = pd.read_csv('C:\practice\practice\지역별\전라남도_groupby.csv')
df9 = pd.read_csv('C:\practice\practice\지역별\전라북도_groupby.csv')
df10 = pd.read_csv('C:\practice\practice\지역별\제주특별자치도_groupby.csv')
df11 = pd.read_csv('C:\practice\practice\지역별\충청남도_groupby.csv')
df12 = pd.read_csv('C:\practice\practice\지역별\충청북도_groupby.csv')

In [244]:
comdf=pd.concat([df7,df1,df2,df3,df4,df5,df6,df8,df9,df10,df11,df12],ignore_index=True)
comdf.to_csv('사용량_경기~충남.csv',index=False)

In [245]:
comdf

        시구    연도           사용량
0   전체(시도)  2017  4.161112e+11
1   전체(시도)  2018  4.325606e+11
2   전체(시도)  2019  4.285019e+11
3   전체(시도)  2020  4.154390e+11
4   전체(시도)  2021  4.395767e+11
..     ...   ...           ...
67    충청북도  2018  4.470151e+10
68    충청북도  2019  4.589536e+10
69    충청북도  2020  4.617249e+10
70    충청북도  2021  4.906699e+10
71    충청북도  2022  5.101606e+10

[72 rows x 3 columns]

In [246]:
data = pd.read_csv('C:\practice\practice\지역별\사용량_경기~충남.csv')
data = data[['시구', '연도', '사용량']]
pivot_table = data.pivot(index='연도', columns='시구', values='사용량')
pivot_table = pivot_table.fillna(0)
pivot_table.columns.name = None 
pivot_table.to_csv('사용량_지역별2.csv', index=True)

print(pivot_table.head())

               강원도           경기도          경상남도          경상북도         광주광역시  \
연도
2017  2.517312e+10  1.827082e+11  5.739727e+10  8.030472e+10  1.283805e+10
2018  2.556165e+10  1.975532e+11  5.801842e+10  8.122523e+10  1.287561e+10
2019  2.489849e+10  1.985088e+11  5.686665e+10  7.826249e+10  1.258203e+10
2020  2.434089e+10  2.006792e+11  5.576302e+10  7.151245e+10  1.224509e+10
2021  2.539744e+10  2.182085e+11  5.931459e+10  7.821210e+10  1.309379e+10

             대구광역시          전라남도          전라북도        전체(시도)       제주특별자치도  \
연도
2017  2.328472e+10  6.031719e+10  3.814421e+10  4.161112e+11  8.001295e+09
2018  2.361051e+10  6.136614e+10  3.845657e+10  4.325606e+11  8.465246e+09
2019  2.297978e+10  5.802639e+10  3.730406e+10  4.285019e+11  8.641230e+09
2020  2.171039e+10  5.508254e+10  3.376344e+10  4.154390e+11  8.526873e+09
2021  2.305026e+10  6.021786e+10  3.578700e+10  4.395767e+11  9.061185e+09

              충청남도          충청북도
연도
2017  9.040493e+10  4.166488e+10
2018  9.362831e+10  4.470151e+10
2019  9.519463e+10  4.589536e+10
2020  9.089509e+10  4.617249e+10
2021  8.838385e+10  4.906699e+10