In [2]:
import pandas as pd

total = pd.read_csv("data2/산업분류별 월별 전력사용량_2017_2022.csv")
total

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
0,201701,전체(시도),전체(시 / 군 / 구),"가구내고용,미분류자가소비생산",528,"571,710","86,427,025",151.2
1,201701,전체(시도),전체(시 / 군 / 구),건설업,"70,529","367,547,850","49,248,531,866",134.0
2,201701,전체(시도),전체(시 / 군 / 구),"공공행정, 국방 및 사회보장 행정","34,768","535,494,134","69,556,707,643",129.9
3,201701,전체(시도),전체(시 / 군 / 구),광업,"4,614","154,468,194","21,722,675,394",140.6
4,201701,전체(시도),전체(시 / 군 / 구),교육 서비스업,"69,866","891,054,335","90,642,321,916",101.7
...,...,...,...,...,...,...,...,...
28303,202212,충청북도,전체,제조업,"13,495","1,624,994,320","230,367,018,601",141.8
28304,202212,충청북도,전체,"출판영상,방송통신정보서비스업","10,528","18,489,918","2,568,906,764",138.9
28305,202212,충청북도,전체,하수폐기처리원료재생환경복원,"2,014","27,704,884","4,139,395,606",149.4
28306,202212,충청북도,전체,"협회단체,수리기타개인서비스업","9,077","19,703,984","3,224,255,842",163.6
28307,202212,충청북도,전체,합계,"305,476","2,220,188,169","314,635,554,692",141.7

In [3]:
type(total["사용량(kWh)"].loc[0])

str

### 시점 처리(연도, 월 추가)

In [4]:
total["연도"] = total['년월'].str[:4]
total["월"] = total['년월'].str[4:6]
total.to_csv('data/사용량_지역별_시간처리.csv', index=False)

### 사용량 type 변환

In [5]:
def str_to_int(use):
    return int(use.strip().replace(',', ''))

#str_to_int(total_delete['사용량(kWh)'].iloc[2])

In [6]:
total_delete = total.loc[(total['사용량(kWh)'] != '-') & (total['사용량(kWh)']!= '사용량(kWh)')]
total_delete['사용량'] = total_delete['사용량(kWh)'].dropna().apply(str_to_int)
total_delete.to_csv('data/사용량_지역별_시간_사용량처리.csv', index = False)
x = pd.read_csv('data/사용량_지역별_시간_사용량처리.csv')
x
total_delete

C:\Users\user\AppData\Local\Temp\ipykernel_15800\2864414686.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_delete['사용량'] = total_delete['사용량(kWh)'].dropna().apply(str_to_int)

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh),연도,월,사용량
0,201701,전체(시도),전체(시 / 군 / 구),"가구내고용,미분류자가소비생산",528,"571,710","86,427,025",151.2,2017,01,5.717100e+05
1,201701,전체(시도),전체(시 / 군 / 구),건설업,"70,529","367,547,850","49,248,531,866",134.0,2017,01,3.675478e+08
2,201701,전체(시도),전체(시 / 군 / 구),"공공행정, 국방 및 사회보장 행정","34,768","535,494,134","69,556,707,643",129.9,2017,01,5.354941e+08
3,201701,전체(시도),전체(시 / 군 / 구),광업,"4,614","154,468,194","21,722,675,394",140.6,2017,01,1.544682e+08
4,201701,전체(시도),전체(시 / 군 / 구),교육 서비스업,"69,866","891,054,335","90,642,321,916",101.7,2017,01,8.910543e+08
...,...,...,...,...,...,...,...,...,...,...,...
28303,202212,충청북도,전체,제조업,"13,495","1,624,994,320","230,367,018,601",141.8,2022,12,1.624994e+09
28304,202212,충청북도,전체,"출판영상,방송통신정보서비스업","10,528","18,489,918","2,568,906,764",138.9,2022,12,1.848992e+07
28305,202212,충청북도,전체,하수폐기처리원료재생환경복원,"2,014","27,704,884","4,139,395,606",149.4,2022,12,2.770488e+07
28306,202212,충청북도,전체,"협회단체,수리기타개인서비스업","9,077","19,703,984","3,224,255,842",163.6,2022,12,1.970398e+07
28307,202212,충청북도,전체,합계,"305,476","2,220,188,169","314,635,554,692",141.7,2022,12,2.220188e+09

### groupby

In [12]:
total_groupby = total_delete.groupby(['연도', '시구']).sum().reset_index()
total_groupby_sort = total_groupby[['시구','연도', '사용량']]
total_groupby_sort.to_csv('data/사용량_지역별_처리후_groupby.csv',index = False)
x = pd.read_csv('data/사용량_지역별_처리후_groupby.csv')
x

          시구    연도           사용량
0        강원도  2017  2.517312e+10
1        경기도  2017  1.827082e+11
2       경상남도  2017  5.739727e+10
3       경상북도  2017  8.030472e+10
4      광주광역시  2017  1.283805e+10
..       ...   ...           ...
109  제주특별자치도  2022  9.697304e+09
110     충청남도  2022  9.102341e+10
111     충청북도  2022  5.101606e+10
112     황해북도  2022  0.000000e+00
113       합계    합계  2.585052e+12

[114 rows x 3 columns]

In [13]:
전라남도 = total[total["시구"] == "전라남도"]
전라남도.to_csv("data3/전라남도.csv", index = False)

In [14]:
전라남도_groupby = total_groupby_sort[total_groupby_sort["시구"] == "전라남도"]
전라남도_groupby.to_csv("data3/전라남도_groupby.csv", index = False)

In [15]:
x = pd.read_csv('data3/전라남도_groupby.csv')
x

     시구    연도           사용량
0  전라남도  2017  6.031719e+10
1  전라남도  2018  6.136614e+10
2  전라남도  2019  5.802639e+10
3  전라남도  2020  5.508254e+10
4  전라남도  2021  6.021786e+10
5  전라남도  2022  6.252971e+10

In [16]:
전라북도 = total[total["시구"] == "전라북도"]
전라북도.to_csv("data3/전라북도.csv", index = False)

In [17]:
전라북도_groupby = total_groupby_sort[total_groupby_sort["시구"] == "전라북도"]
전라북도_groupby.to_csv("data3/전라북도_groupby.csv", index = False)

In [18]:
전국 = total[total["시구"] == "전체(시도)"]
전국.to_csv("data3/전국.csv", index = False)

In [19]:
전국_groupby = total_groupby_sort[total_groupby_sort["시구"] == "전체(시도)"]
전국_groupby.to_csv("data3/전국_groupby.csv", index = False)

In [20]:
제주특별자치도 = total[total["시구"] == "제주특별자치도"]
제주특별자치도.to_csv("data3/제주특별자치도.csv", index = False)

In [21]:
제주특별자치도_groupby = total_groupby_sort[total_groupby_sort["시구"] == "제주특별자치도"]
제주특별자치도_groupby.to_csv("data3/제주특별자치도_groupby.csv", index = False)

In [22]:
충청남도 = total[total["시구"] == "충청남도"]
충청남도.to_csv("data3/충청남도.csv", index = False)

In [23]:
충청남도_groupby = total_groupby_sort[total_groupby_sort["시구"] == "충청남도"]
충청남도_groupby.to_csv("data3/충청남도_groupby.csv", index = False)

In [24]:
충청북도 = total[total["시구"] == "충청북도"]
충청북도.to_csv("data3/충청북도.csv", index = False)

In [25]:
충청북도_groupby = total_groupby_sort[total_groupby_sort["시구"] == "충청북도"]
충청북도_groupby.to_csv("data3/충청북도_groupby.csv", index = False)

In [33]:
origin = pd.DataFrame(전라북도_groupby['연도'])
origin

       연도
13   2017
31   2018
50   2019
69   2020
88   2021
107  2022

In [43]:
origin['전라남도'] = list(전라남도_groupby['사용량'])
origin['전라북도'] = list(전라북도_groupby['사용량'])
origin['전국'] = list(전국_groupby['사용량'])
origin['제주특별자치도'] = list(제주특별자치도_groupby['사용량'])
origin['충청남도'] = list(충청남도_groupby['사용량'])
origin['충청북도'] = list(충청북도_groupby['사용량'])


origin.to_csv('data/사용량_지역별.csv', index = False)

,연도,전라남도,전라북도,전국,제주특별자치도,충청남도,충청북도
0,2017,6.031719e+10,3.814421e+10,4.161112e+11,8.001295e+09,9.040493e+10,4.166488e+10
1,2018,6.136614e+10,3.845657e+10,4.325606e+11,8.465246e+09,9.362831e+10,4.470151e+10
2,2019,5.802639e+10,3.730406e+10,4.285019e+11,8.641230e+09,9.519463e+10,4.589536e+10
3,2020,5.508254e+10,3.376344e+10,4.154390e+11,8.526873e+09,9.089509e+10,4.617249e+10
4,2021,6.021786e+10,3.578700e+10,4.395767e+11,9.061185e+09,8.838385e+10,4.906699e+10
5,2022,6.252971e+10,3.646611e+10,4.528628e+11,9.697304e+09,9.102341e+10,5.101606e+10

In [47]:
used_2017_2022 = pd.read_csv('data/사용량_지역별.csv')
used_2017_2022

,연도,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,전라남도,전라북도,전체(시도),제주특별자치도,충청남도,충청북도,대전광역시,부산광역시,서울특별시,세종특별자치시,울산광역시,인천광역시
0,2017,2.517312e+10,1.827082e+11,5.739727e+10,8.030472e+10,1.283805e+10,2.328472e+10,6.031719e+10,3.814421e+10,4.161112e+11,8.001295e+09,9.040493e+10,4.166488e+10,14022683084,31337371046,63454707242,4746034680,58599168636,39665688728
1,2018,2.556165e+10,1.975532e+11,5.801842e+10,8.122523e+10,1.287561e+10,2.361051e+10,6.136614e+10,3.845657e+10,4.325606e+11,8.465246e+09,9.362831e+10,4.470151e+10,14335217136,31527148258,65299377728,4941669512,63442062964,39953586200
2,2019,2.489849e+10,1.985088e+11,5.686665e+10,7.826249e+10,1.258203e+10,2.297978e+10,5.802639e+10,3.730406e+10,4.285019e+11,8.641230e+09,9.519463e+10,4.589536e+10,14001570068,30863048626,64622897814,5140155382,64254967286,38799398892
3,2020,2.434089e+10,2.006792e+11,5.576302e+10,7.151245e+10,1.224509e+10,2.171039e+10,5.508254e+10,3.376344e+10,4.154390e+11,8.526873e+09,9.089509e+10,4.617249e+10,13928127466,29949109072,61188318910,5384635204,62234756844,37343947528
4,2021,2.539744e+10,2.182085e+11,5.931459e+10,7.821210e+10,1.309379e+10,2.305026e+10,6.021786e+10,3.578700e+10,4.395767e+11,9.061185e+09,8.838385e+10,4.906699e+10,14647259440,31001029598,63374154554,7107467284,63417191692,39645665966
5,2022,2.647714e+10,2.316657e+11,6.005625e+10,7.878453e+10,1.330796e+10,2.389647e+10,6.252971e+10,3.646611e+10,4.528628e+11,9.697304e+09,9.102341e+10,5.101606e+10,15138179938,31722680322,66282141380,4806420400,62031836166,40596077740

In [52]:
import pandas as pd
pd.set_option('display.float_format', '{:.2f}'.format) # 항상 float 형식으로
used_final = pd.read_csv('최종 data/사용량_지역별_최종_1.csv', encoding='cp949', header = None).T
used_final

          0            1            2            3            4            5
0        연도         2018         2019         2020         2021         2022
1       강원도  25561650294  24898491742  24340887952  25397437398  26477139984
2       경기도  1.97553E+11  1.98509E+11  2.00679E+11  2.18209E+11  2.31666E+11
3      경상남도  58018418924  56866648018  55763022788  59314585678  60056249280
4      경상북도  81225227656  78262489860  71512450242  78212099526  78784527334
5     광주광역시  12875605344  12582030084  12245092806  13093794002  13307964750
6     대구광역시  23610513712  22979784576  21710385694  23050255248  23896470256
7      전라남도  61366142240  58026386998  55082538578  60217861408  62529708772
8      전라북도  38456572718  37304057318  33763442786  35786997160  36466110842
9    전체(시도)  4.32561E+11  4.28502E+11  4.15439E+11  4.39577E+11  4.52863E+11
10  제주특별자치도   8465245736   8641230066   8526872854   9061184918   9697304348
11     충청남도  93628311170  95194631584  90895085070  88383849156  91023411418
12     충청북도  44701509300  45895361610  46172487470  49066987020  51016056094
13    대전광역시  14335217136  14001570068  13928127466  14647259440  15138179938
14    부산광역시  31527148258  30863048626  29949109072  31001029598  31722680322
15    서울특별시  65299377728  64622897814  61188318910  63374154554  66282141380
16  세종특별자치시   4941669512   5140155382   5384635204   7107467284   4806420400
17    울산광역시  63442062964  64254967286  62234756844  63417191692  62031836166
18    인천광역시  39953586200  38799398892  37343947528  39645665966  40596077740

In [53]:
used_final.iloc[0][0] = '지역'
used_final

C:\Users\user\AppData\Local\Temp\ipykernel_8824\4137000458.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  used_final.iloc[0][0] = '지역'

          0            1            2            3            4            5
0        지역         2018         2019         2020         2021         2022
1       강원도  25561650294  24898491742  24340887952  25397437398  26477139984
2       경기도  1.97553E+11  1.98509E+11  2.00679E+11  2.18209E+11  2.31666E+11
3      경상남도  58018418924  56866648018  55763022788  59314585678  60056249280
4      경상북도  81225227656  78262489860  71512450242  78212099526  78784527334
5     광주광역시  12875605344  12582030084  12245092806  13093794002  13307964750
6     대구광역시  23610513712  22979784576  21710385694  23050255248  23896470256
7      전라남도  61366142240  58026386998  55082538578  60217861408  62529708772
8      전라북도  38456572718  37304057318  33763442786  35786997160  36466110842
9    전체(시도)  4.32561E+11  4.28502E+11  4.15439E+11  4.39577E+11  4.52863E+11
10  제주특별자치도   8465245736   8641230066   8526872854   9061184918   9697304348
11     충청남도  93628311170  95194631584  90895085070  88383849156  91023411418
12     충청북도  44701509300  45895361610  46172487470  49066987020  51016056094
13    대전광역시  14335217136  14001570068  13928127466  14647259440  15138179938
14    부산광역시  31527148258  30863048626  29949109072  31001029598  31722680322
15    서울특별시  65299377728  64622897814  61188318910  63374154554  66282141380
16  세종특별자치시   4941669512   5140155382   5384635204   7107467284   4806420400
17    울산광역시  63442062964  64254967286  62234756844  63417191692  62031836166
18    인천광역시  39953586200  38799398892  37343947528  39645665966  40596077740

In [54]:
pd.set_option('display.float_format', '{:.2f}'.format) # 항상 float 형식으로

new_columns = used_final.iloc[0]
used_final = used_final[1:]
used_final.columns = new_columns
used_final

0        지역         2018         2019         2020         2021         2022
1       강원도  25561650294  24898491742  24340887952  25397437398  26477139984
2       경기도  1.97553E+11  1.98509E+11  2.00679E+11  2.18209E+11  2.31666E+11
3      경상남도  58018418924  56866648018  55763022788  59314585678  60056249280
4      경상북도  81225227656  78262489860  71512450242  78212099526  78784527334
5     광주광역시  12875605344  12582030084  12245092806  13093794002  13307964750
6     대구광역시  23610513712  22979784576  21710385694  23050255248  23896470256
7      전라남도  61366142240  58026386998  55082538578  60217861408  62529708772
8      전라북도  38456572718  37304057318  33763442786  35786997160  36466110842
9    전체(시도)  4.32561E+11  4.28502E+11  4.15439E+11  4.39577E+11  4.52863E+11
10  제주특별자치도   8465245736   8641230066   8526872854   9061184918   9697304348
11     충청남도  93628311170  95194631584  90895085070  88383849156  91023411418
12     충청북도  44701509300  45895361610  46172487470  49066987020  51016056094
13    대전광역시  14335217136  14001570068  13928127466  14647259440  15138179938
14    부산광역시  31527148258  30863048626  29949109072  31001029598  31722680322
15    서울특별시  65299377728  64622897814  61188318910  63374154554  66282141380
16  세종특별자치시   4941669512   5140155382   5384635204   7107467284   4806420400
17    울산광역시  63442062964  64254967286  62234756844  63417191692  62031836166
18    인천광역시  39953586200  38799398892  37343947528  39645665966  40596077740

In [55]:
used_final.to_csv('최종 data/사용량_지역별_최종_헤더지정.csv', index=False)
x = pd.read_csv('최종 data/사용량_지역별_최종_헤더지정.csv')
x

,지역,2018,2019,2020,2021,2022
0,강원도,25561650294.00,24898491742.00,24340887952.00,25397437398.00,26477139984.00
1,경기도,197553000000.00,198509000000.00,200679000000.00,218209000000.00,231666000000.00
2,경상남도,58018418924.00,56866648018.00,55763022788.00,59314585678.00,60056249280.00
3,경상북도,81225227656.00,78262489860.00,71512450242.00,78212099526.00,78784527334.00
4,광주광역시,12875605344.00,12582030084.00,12245092806.00,13093794002.00,13307964750.00
5,대구광역시,23610513712.00,22979784576.00,21710385694.00,23050255248.00,23896470256.00
6,전라남도,61366142240.00,58026386998.00,55082538578.00,60217861408.00,62529708772.00
7,전라북도,38456572718.00,37304057318.00,33763442786.00,35786997160.00,36466110842.00
8,전체(시도),432561000000.00,428502000000.00,415439000000.00,439577000000.00,452863000000.00
9,제주특별자치도,8465245736.00,8641230066.00,8526872854.00,9061184918.00,9697304348.00
10,충청남도,93628311170.00,95194631584.00,90895085070.00,88383849156.00,91023411418.00
11,충청북도,44701509300.00,45895361610.00,46172487470.00,49066987020.00,51016056094.00
12,대전광역시,14335217136.00,14001570068.00,13928127466.00,14647259440.00,15138179938.00
13,부산광역시,31527148258.00,30863048626.00,29949109072.00,31001029598.00,31722680322.00
14,서울특별시,65299377728.00,64622897814.00,61188318910.00,63374154554.00,66282141380.00
15,세종특별자치시,4941669512.00,5140155382.00,5384635204.00,7107467284.00,4806420400.00
16,울산광역시,63442062964.00,64254967286.00,62234756844.00,63417191692.00,62031836166.00
17,인천광역시,39953586200.00,38799398892.00,37343947528.00,39645665966.00,40596077740.00

In [56]:
x = x.set_index('지역')
x['2018_2022'] = x.sum(axis = 1)
x

,2018,2019,2020,2021,2022,2018_2022
지역,,,,,,
강원도,25561650294.00,24898491742.00,24340887952.00,25397437398.00,26477139984.00,126675607370.00
경기도,197553000000.00,198509000000.00,200679000000.00,218209000000.00,231666000000.00,1046616000000.00
경상남도,58018418924.00,56866648018.00,55763022788.00,59314585678.00,60056249280.00,290018924688.00
경상북도,81225227656.00,78262489860.00,71512450242.00,78212099526.00,78784527334.00,387996794618.00
광주광역시,12875605344.00,12582030084.00,12245092806.00,13093794002.00,13307964750.00,64104486986.00
대구광역시,23610513712.00,22979784576.00,21710385694.00,23050255248.00,23896470256.00,115247409486.00
전라남도,61366142240.00,58026386998.00,55082538578.00,60217861408.00,62529708772.00,297222637996.00
전라북도,38456572718.00,37304057318.00,33763442786.00,35786997160.00,36466110842.00,181777180824.00
전체(시도),432561000000.00,428502000000.00,415439000000.00,439577000000.00,452863000000.00,2168942000000.00
제주특별자치도,8465245736.00,8641230066.00,8526872854.00,9061184918.00,9697304348.00,44391837922.00
충청남도,93628311170.00,95194631584.00,90895085070.00,88383849156.00,91023411418.00,459125288398.00
충청북도,44701509300.00,45895361610.00,46172487470.00,49066987020.00,51016056094.00,236852401494.00
대전광역시,14335217136.00,14001570068.00,13928127466.00,14647259440.00,15138179938.00,72050354048.00
부산광역시,31527148258.00,30863048626.00,29949109072.00,31001029598.00,31722680322.00,155063015876.00
서울특별시,65299377728.00,64622897814.00,61188318910.00,63374154554.00,66282141380.00,320766890386.00
세종특별자치시,4941669512.00,5140155382.00,5384635204.00,7107467284.00,4806420400.00,27380347782.00
울산광역시,63442062964.00,64254967286.00,62234756844.00,63417191692.00,62031836166.00,315380814952.00
인천광역시,39953586200.00,38799398892.00,37343947528.00,39645665966.00,40596077740.00,196338676326.00

In [57]:
x.to_csv('최종 data/사용량_지역별_최종_헤더지정_총계.csv')