In [112]:
import pandas as pd

In [113]:
df1 = pd.read_csv("C:\practice\practice\지역별\발전량18_22_최종.csv",encoding='cp949')

In [114]:
df2 = pd.read_csv("C:\practice\practice\지역별\사용량_지역별_최종_1.csv",encoding='cp949')

In [115]:
df1 = df1.reindex(sorted(df1.columns), axis=1)
df2 = df2.reindex(sorted(df2.columns), axis=1)

In [116]:
df1

,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,세종특별자치시,연도,울산광역시,인천광역시,전라남도,전라북도,전체(시도),제주특별자치도,충청남도,충청북도
0,3.098080e+10,7.418900e+10,5.319210e+10,7.612460e+10,514494227.6,2649458583,183668798.1,3.849600e+10,6.407394e+08,3718198534,2018,2.058880e+10,6.292940e+10,6.006650e+10,1.174250e+10,5.706470e+11,3371318793,1.296320e+11,1626983225
1,2.871590e+10,7.397690e+10,4.846500e+10,7.982710e+10,562074508.0,2877895502,167975237.6,3.752790e+10,1.846891e+09,2463629976,2019,2.901600e+10,6.005290e+10,5.575380e+10,1.228230e+10,5.630400e+11,3994629140,1.239050e+11,1604430710
2,2.787500e+10,7.251270e+10,3.533290e+10,8.586560e+10,609551031.8,2568644277,167834042.1,4.064740e+10,5.122176e+09,3552567196,2020,2.980870e+10,5.713560e+10,5.821710e+10,1.259950e+10,5.521620e+11,3821827153,1.141040e+11,2221149360
3,3.062280e+10,8.223270e+10,4.388540e+10,8.138170e+10,644018382.1,2811756812,182180361.1,4.035390e+10,5.343889e+09,3776643917,2021,3.150360e+10,6.050630e+10,6.184100e+10,1.432240e+10,5.768090e+11,3967926374,1.112290e+11,2204815677
4,3.387650e+10,8.578020e+10,4.948160e+10,8.984390e+10,769032947.2,2468915663,295032691.2,4.657930e+10,4.336754e+09,3278702829,2022,3.364130e+10,5.428350e+10,5.938350e+10,1.499090e+10,5.944000e+11,4815152918,1.078130e+11,2763199957

In [117]:
df2

,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,세종특별자치시,연도,울산광역시,인천광역시,전라남도,전라북도,전체(시도),제주특별자치도,충청남도,충청북도
0,25561650294,1.975530e+11,58018418924,81225227656,12875605344,23610513712,14335217136,31527148258,65299377728,4941669512,2018,63442062964,39953586200,61366142240,38456572718,4.325610e+11,8465245736,93628311170,44701509300
1,24898491742,1.985090e+11,56866648018,78262489860,12582030084,22979784576,14001570068,30863048626,64622897814,5140155382,2019,64254967286,38799398892,58026386998,37304057318,4.285020e+11,8641230066,95194631584,45895361610
2,24340887952,2.006790e+11,55763022788,71512450242,12245092806,21710385694,13928127466,29949109072,61188318910,5384635204,2020,62234756844,37343947528,55082538578,33763442786,4.154390e+11,8526872854,90895085070,46172487470
3,25397437398,2.182090e+11,59314585678,78212099526,13093794002,23050255248,14647259440,31001029598,63374154554,7107467284,2021,63417191692,39645665966,60217861408,35786997160,4.395770e+11,9061184918,88383849156,49066987020
4,26477139984,2.316660e+11,60056249280,78784527334,13307964750,23896470256,15138179938,31722680322,66282141380,4806420400,2022,62031836166,40596077740,62529708772,36466110842,4.528630e+11,9697304348,91023411418,51016056094

In [118]:
df1.iloc[:, 1:] = df1.iloc[:, 1:].replace(',', '', regex=True).apply(pd.to_numeric, errors='coerce')
df2.iloc[:, 1:] = df2.iloc[:, 1:].replace(',', '', regex=True).apply(pd.to_numeric, errors='coerce')

In [119]:
df3 = df1.copy()
df3.iloc[:, 1:] = df1.iloc[:, 1:] - df2.iloc[:, 1:]

In [120]:
df3.to_csv("발전량_사용량차이.csv",index=True)

In [121]:
df3

,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,세종특별자치시,연도,울산광역시,인천광역시,전라남도,전라북도,전체(시도),제주특별자치도,충청남도,충청북도
0,3.098080e+10,-1.233640e+11,-4.826319e+09,-5.100628e+09,-1.236111e+10,-20961055129,-1.415155e+10,6.968852e+09,-6.465864e+10,-1223470978,0,-4.285326e+10,2.297581e+10,-1.299642e+09,-2.671407e+10,1.380860e+11,-5093926943,3.600369e+10,-43074526075
1,2.871590e+10,-1.245321e+11,-8.401648e+09,1.564610e+09,-1.201996e+10,-20101889074,-1.383359e+10,6.664851e+09,-6.277601e+10,-2676525406,0,-3.523897e+10,2.125350e+10,-2.272587e+09,-2.502176e+10,1.345380e+11,-4646600926,2.871037e+10,-44290930900
2,2.787500e+10,-1.281663e+11,-2.043012e+10,1.435315e+10,-1.163554e+10,-19141741417,-1.376029e+10,1.069829e+10,-5.606614e+10,-1832068008,0,-3.242606e+10,1.979165e+10,3.134561e+09,-2.116394e+10,1.367230e+11,-4705045701,2.320891e+10,-43951338110
3,3.062280e+10,-1.359763e+11,-1.542919e+10,3.169600e+09,-1.244978e+10,-20238498436,-1.446508e+10,9.352870e+09,-5.803027e+10,-3330823367,0,-3.191359e+10,2.086063e+10,1.623139e+09,-2.146460e+10,1.372320e+11,-5093258544,2.284515e+10,-46862171343
4,3.387650e+10,-1.458858e+11,-1.057465e+10,1.105937e+10,-1.253893e+10,-21427554593,-1.484315e+10,1.485662e+10,-6.194539e+10,-1527717571,0,-2.839054e+10,1.368742e+10,-3.146209e+09,-2.147521e+10,1.415370e+11,-4882151430,1.678959e+10,-48252856137

In [123]:
df4 = pd.read_csv("C:\practice\practice\지역별\발전량_사용량차이_최종.csv",encoding='cp949')
df4

,연도,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,세종특별자치시,울산광역시,인천광역시,전라남도,전라북도,전체(시도),제주특별자치도,충청남도,충청북도
0,2018,30980800000,-1.233640e+11,-4826318924,-5100627656,-1.236110e+10,-20961055129,-1.415150e+10,6968851742,-6.465860e+10,-1223470978,-42853262964,22975813800,-1299642240,-26714072718,1.380860e+11,-5093926943,36003688830,-43074526075
1,2019,28715900000,-1.245320e+11,-8401648018,1564610140,-1.201996e+10,-20101889074,-1.383360e+10,6664851374,-6.277601e+10,-2676525406,-35238967286,21253501108,-2272586998,-25021757318,1.345380e+11,-4646600926,28710368416,-44290930900
2,2020,27875000000,-1.281660e+11,-20430122788,14353149758,-1.163550e+10,-19141741417,-1.376030e+10,10698290928,-5.606614e+10,-1832068008,-32426056844,19791652472,3134561422,-21163942786,1.367230e+11,-4705045701,23208914930,-43951338110
3,2021,30622800000,-1.359760e+11,-15429185678,3169600474,-1.244980e+10,-20238498436,-1.446510e+10,9352870402,-5.803027e+10,-3330823367,-31913591692,20860634034,1623138592,-21464597160,1.372320e+11,-5093258544,22845150844,-46862171343
4,2022,33876500000,-1.458860e+11,-10574649280,11059372666,-1.253890e+10,-21427554593,-1.484310e+10,14856619678,-6.194539e+10,-1527717571,-28390536166,13687422260,-3146208772,-21475210842,1.415370e+11,-4882151430,16789588582,-48252856137