### 전력 발전량 추이 연-월별

In [6]:
import pandas as pd
df = pd.read_csv("data/발전전력량_추이.csv")
print(df.head())

   월별(1)       2017    2017.1    2017.2    2017.3    2017.4     2017.5  \
0  월별(1)   한전 및 자회사  한전 및 자회사  한전 및 자회사  한전 및 자회사  한전 및 자회사   한전 및 자회사
1  월별(1)         소계        수력        수력        수력        수력         기력
2  월별(1)         소계        소계        일반        양수       소수력         소계
3     합계  426484068   5262507    917300   4186353    158855  232631450
4     1월   38858632    417953     37613    365932     14408   21465583

     2017.6     2017.7    2017.8  ...    2022.36   2022.37   2022.38  2022.39  \
0  한전 및 자회사   한전 및 자회사  한전 및 자회사  ...    사업자(종합)   사업자(종합)   사업자(종합)  사업자(종합)
1        기력         기력        기력  ...        원자력       신재생        집단      내연력
2       무연탄        유연탄        중유  ...         소계        소계        소계       소계
3   4426611  222759888   5224768  ...  176054012  47266256  49158704   570046
4    636666   19795166    939839  ...   16103260   3470434   5585160    54726

   2022.40   2022.41 2022.42   2022.43    2022.44    2022.45
0  사업자(종합)      상용자가    상용자가      상용자가       총발전량       총발전량
1       기타        소계    한전구입      자가소비   사업자+한전구입   사업자+상용자가
2       소계        소계      소계        소계         소계         소계
3  1171543  28635808  451043  28184765  594400365  622585130
4    87518       ...   43696       ...   54792301        ...

[5 rows x 254 columns]

In [8]:
df=df.drop([0,1,2])
print(df.head())

  월별(1)       2017   2017.1  2017.2   2017.3  2017.4     2017.5   2017.6  \
3    합계  426484068  5262507  917300  4186353  158855  232631450  4426611
4    1월   38858632   417953   37613   365932   14408   21465583   636666
5    2월   35496007   402267   37701   352201   12366   19168753   590463
6    3월   35672236   389424   49148   328292   11984   19181112   465244
7    4월   33240589   378089   50537   314478   13074   17105922   462381

      2017.7   2017.8  ...    2022.36   2022.37   2022.38 2022.39  2022.40  \
3  222759888  5224768  ...  176054012  47266256  49158704  570046  1171543
4   19795166   939839  ...   16103260   3470434   5585160   54726    87518
5   17626862   867864  ...   13989890   3745027   5045196   58129    84515
6   18499247   173914  ...   13866525   3880039   5324102   60216    97061
7   16452195   191346  ...   13385162   4268206   3916566   53290    97776

    2022.41 2022.42   2022.43    2022.44    2022.45
3  28635808  451043  28184765  594400365  622585130
4       ...   43696       ...   54792301        ...
5       ...   72864       ...   48487502        ...
6       ...   25090       ...   49659153        ...
7       ...   24337       ...   44858870        ...

[5 rows x 254 columns]

In [107]:
print(df.columns)

Index(['월별(1)', '2017', '2017.1', '2017.2', '2017.3', '2017.4', '2017.5',
       '2017.6', '2017.7', '2017.8',
       ...
       '2023.128', '2023.129', '2023.130', '2023.131', '2023.132', '2023.133',
       '2023.134', '2023.135', '2023.136', '2023.137'],
      dtype='object', length=898)

In [108]:
years = ['2017', '2018', '2019', '2020','2021','2022']

rownames = df.columns.tolist()
for i in range(len(years) - 1):
    start_idx = rownames.index(years[i])
    end_idx = rownames.index(years[i + 1])
    

    for j in range(start_idx + 1, end_idx):
        df.drop(columns=[rownames[j]], inplace=True)

In [109]:
# start_col = '2023'
# end_col = '202'

# start_idx = df.columns.get_loc(start_col)
# end_idx = df.columns.get_loc(end_col)


# cols_to_drop = df.columns[start_idx+1:end_idx]
# df = df.drop(cols_to_drop, axis=1)

In [110]:
end_col = '2022'
end_idx = df.columns.get_loc(end_col)


df = df.iloc[:, :end_idx+1]

In [111]:
print(df)

   월별(1)       2017       2018       2019       2020       2021       2022
4     합계  426484068  418327451  409069939  394522245  400373182  408441461
5     1월   38858632   38943679   38316562   34737992   37204190   38575652
6     2월   35496007   34098844   32651176   32574177   30946181   33016704
7     3월   35672236   33762400   34058604   31666663   30634994   31875258
8     4월   33240589   30333334   31205745   30816603   29411611   29519015
9     5월   33996468   31954114   31857773   31392127   30432530   31436952
10    6월   32474815   32007410   32975751   32817024   31508419   33536092
11    7월   38434374   39137686   36632642   34656944   37970402   38923712
12    8월   38235049   40724680   38224995   37028344   36967040   38074941
13    9월   35201531   33373810   33536839   31732039   32436599   32037970
14   10월   33344138   32745130   32956456   29877629   32073517   31332137
15   11월   33797360   33617543   32100227   31262634   32854687   31919754
16   12월   37732868   37628820   34553168   35960067   37933013   38193276

In [118]:
df.reset_index(drop=True, inplace=True)
df_tras = df.T
print(df_tras)

              0         1         2         3         4         5         6   \
월별(1)         합계        1월        2월        3월        4월        5월        6월
2017   426484068  38858632  35496007  35672236  33240589  33996468  32474815
2018   418327451  38943679  34098844  33762400  30333334  31954114  32007410
2019   409069939  38316562  32651176  34058604  31205745  31857773  32975751
2020   394522245  34737992  32574177  31666663  30816603  31392127  32817024
2021   400373182  37204190  30946181  30634994  29411611  30432530  31508419
2022   408441461  38575652  33016704  31875258  29519015  31436952  33536092

             7         8         9         10        11        12
월별(1)        7월        8월        9월       10월       11월       12월
2017   38434374  38235049  35201531  33344138  33797360  37732868
2018   39137686  40724680  33373810  32745130  33617543  37628820
2019   36632642  38224995  33536839  32956456  32100227  34553168
2020   34656944  37028344  31732039  29877629  31262634  35960067
2021   37970402  36967040  32436599  32073517  32854687  37933013
2022   38923712  38074941  32037970  31332137  31919754  38193276

In [124]:
print(df.columns)

# 불필요한 열 삭제 (필요한 경우)
# df.drop(columns=['Unnamed: 0'], inplace=True)

# '월별(1)' 열이 있는지 확인한 후 인덱스 설정
if '월별(1)' in df.columns:
    df.set_index('월별(1)', inplace=True)
else:
    print("Column '월별(1)' not found. Available columns are:", df.columns)

# 인덱스 재설정 (기존 인덱스 번호 제거)
df.reset_index(drop=False, inplace=True)

print(df)

Index(['index', '1월', nan, nan, nan, nan, nan, nan], dtype='object', name=0)
Column '월별(1)' not found. Available columns are: Index(['index', '1월', nan, nan, nan, nan, nan, nan], dtype='object', name=0)
0   level_0  index   1월       NaN       NaN       NaN       NaN       NaN  \
0         0      0   2월  35496007  34098844  32651176  32574177  30946181
1         1      1   3월  35672236  33762400  34058604  31666663  30634994
2         2      2   4월  33240589  30333334  31205745  30816603  29411611
3         3      3   5월  33996468  31954114  31857773  31392127  30432530
4         4      4   6월  32474815  32007410  32975751  32817024  31508419
5         5      5   7월  38434374  39137686  36632642  34656944  37970402
6         6      6   8월  38235049  40724680  38224995  37028344  36967040
7         7      7   9월  35201531  33373810  33536839  31732039  32436599
8         8      8  10월  33344138  32745130  32956456  29877629  32073517
9         9      9  11월  33797360  33617543  32100227  31262634  32854687
10       10     10  12월  37732868  37628820  34553168  35960067  37933013

0        NaN
0   33016704
1   31875258
2   29519015
3   31436952
4   33536092
5   38923712
6   38074941
7   32037970
8   31332137
9   31919754
10  38193276